<!-- begin sidebar -->
<section class="sidebar">
  <div class="sidebar__inner">

    <div class="sidebar__meta">
      {% if site.data.settings.author.author_avatar %}
      <div class="sidebar__avatar">
        <img class="lazy" data-src="{{ site.data.settings.author.author_avatar | relative_url }}" alt="{{ site.data.settings.author.author_name }}">
      </div>
      {% endif %}
      <div class="sidebar__info">
        {% if site.data.settings.author.author_intro %}
          <div class="sidebar__intro">{{ site.data.settings.author.author_intro }}</div>
        {% endif %}
        {% if site.data.settings.author.author_role %}
          <span class="sidebar__role">{{ site.data.settings.author.author_role }}</span>
        {% endif %}
      </div>
    </div>

<div class="sidebar__widget">
  <h4 class="sidebar__title">More Videos</h3>

  <div id="random-sidebar-posts" style="display:grid; grid-template-columns: 1fr 1fr; gap:10px;"></div>
<style>
.sidebar {
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE/Edge antigo */
  -ms-overflow-style: none;
}

/* Chrome, Edge, Safari */
.sidebar::-webkit-scrollbar {
  display: none;
}
</style>
</div>

<script>
  const postsSidebar = [
    {% for post in site.posts %}
      {
        title: {{ post.title | jsonify }},
        url: {{ post.url | relative_url | jsonify }},
        image: {{ post.image | relative_url | jsonify }}
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];

  function shuffle(arr) {
    for (let i = arr.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [arr[i], arr[j]] = [arr[j], arr[i]];
    }
    return arr;
  }

  const selectedSidebar = shuffle(postsSidebar).slice(0, 10);
  const containerSidebar = document.getElementById("random-sidebar-posts");

  selectedSidebar.forEach(post => {
    const el = document.createElement("div");

    el.innerHTML = `
      <div class="article" style="margin-bottom:10px;">
        <div class="article__content">

          ${post.image ? `
            <a href="${post.url}" class="article__image">
              <img src="${post.image}" alt="${post.title}" 
                   style="width:100%; height:80px; object-fit:cover;">
            </a>
          ` : ""}

          <div class="article__info">
            <h2 class="article__title" style="font-size:13px; margin:5px 0 0 0; line-height:1.2;">
              <a href="${post.url}">${post.title}</a>
            </h2>
          </div>

        </div>
      </div>
    `;

    containerSidebar.appendChild(el);
  });
</script>

  </div>
</section>
<!-- end sidebar -->